@charset "utf-8";

.layui-layout-admin .layui-logo{
    width: 100%;
}
.layui-layout-admin .layui-logo div:first-child{
    width: 20%;
    height: auto;
    float: left;
}
.layui-layout-admin .layui-logo div:first-child img{
    height: 50px;
}
.layui-layout-admin .layui-logo div:last-child{
    width: 60%;
    height: auto;
    color: white;
    font-size: 25px;
    font-weight: bold;
    float: left;
}
.layui-layout-admin .layui-logo div:last-child:hover{

    color: #0d5cab;
}
.layui-bodys {
    position:absolute;
    overflow: auto;
    top:0;
    bottom: 0;
    right:0;
    left:0;          
    padding: 0px 15px 0px 15px;  
}